@{
    bool logged = ViewData["login"] is string && !string.IsNullOrEmpty((string)ViewData["login"]);
    string name = (string)(ViewData["name"] ?? "");
    bool create = (bool)(ViewData["create"] ?? false);
    int id = (int)(ViewData["id"] ?? 0);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VZTest2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VZTest2.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">VZTest2</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Тесты</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Test" asp-action="List" asp-route-Unlock="true"><i class="bi bi-person-fill-lock"></i> Открытые мне</a>
                                <a class="dropdown-item" asp-controller="Test" asp-action="List" asp-route-Mine="true"><i class="bi bi-person-fill"></i> Мои тесты</a>
                                <a class="dropdown-item" asp-controller="Test" asp-action="List"><i class="bi bi-unlock-fill"></i> Открытый список</a>
                                <a class="dropdown-item" asp-controller="Test" asp-action="Search"><i class="bi bi-search"></i> Поиск</a>
                                @if (create)
                                {
                                    <a class="dropdown-item" asp-controller="Test" asp-action="Create"><i class="bi bi-plus-circle"></i> Создать</a>
                                }
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Темы</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Theme" asp-action="List" asp-route-Unlock="true"><i class="bi bi-person-fill-lock"></i> Открытые мне</a>
                                <a class="dropdown-item" asp-controller="Theme" asp-action="List" asp-route-Mine="true"><i class="bi bi-person-fill"></i> Мои темы</a>
                                <a class="dropdown-item" asp-controller="Theme" asp-action="List"><i class="bi bi-unlock-fill"></i> Открытый список</a>
                                <a class="dropdown-item" asp-controller="Theme" asp-action="Search"><i class="bi bi-search"></i> Поиск</a>
                                @if (create)
                                {
                                    <a class="dropdown-item" asp-controller="Theme" asp-action="Create"><i class="bi bi-plus-circle"></i> Создать</a>
                                }
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Опросы</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Quiz" asp-action="List" asp-route-Unlock="true"><i class="bi bi-person-fill-lock"></i> Открытые мне</a>
                                <a class="dropdown-item" asp-controller="Quiz" asp-action="List" asp-route-Mine="true"><i class="bi bi-person-fill"></i> Мои опросы</a>
                                <a class="dropdown-item" asp-controller="Quiz" asp-action="List"><i class="bi bi-unlock-fill"></i> Открытый список</a>
                                <a class="dropdown-item" asp-controller="Quiz" asp-action="Search"><i class="bi bi-search"></i> Поиск</a>
                                @if (create)
                                {
                                    <a class="dropdown-item" asp-controller="Quiz" asp-action="Create"><i class="bi bi-plus-circle"></i> Создать</a>
                                }
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        @if (logged)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Auth" asp-action="Profile" asp-route-id="@id">@name</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Auth" asp-action="Logout">Выход</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Auth" asp-action="Register">Регистрация</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Auth" asp-action="Login">Вход</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - VZTest2 - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
