@using VZTest2.Models.View;
@using VZTest2.Models.View.Auth;
@model LoginModel
@{
    ViewData["title"] = "Вход";
}

<setion>
    <div class="row justify-content-center">
        <form method="post" class="col-lg-6 col-md-8 col-sm-10 col-12">
            <h2>@ViewData["title"]</h2>
            <div class="mb-1">
                <label asp-for="Login" class="form-label"></label>
                <input asp-for="Login" class="form-control">
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button class="btn btn-success w-100">Вход</button>
        </form>
    </div>
</setion>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}